<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normative.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@300&display=swap" rel="stylesheet">

  </head>
  <body>
    <header>
      <div class="main-header p-1 flex flex-wrap">
        <h1 class="logo w-50">
          <img  src="/img/logo-mercado-liebre.svg" alt="Mercado Liebre" />
        </h1>
        <div class="p-2 w-50 align-center">
          <form action="/" class="p-1 flex radius-1 bg-white">
            <input
              class="flex-grow b-none outline-none font-xl"
              type="text"
              name="search"
              placeholder="Buscá productos por nombre, marcas o palabras clave"
            />
            <button type="submit" class="bg-white b-none">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
        <p class="compra-cuotas text-center w-100 my-1"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de credito</p>
      </div>
      <nav class="hide">
        <ul class="py-1">
          <li><a class="nav-link" href="#">Ofertas</a></li>
          <li><a class="nav-link" href="#">Tiendas Oficiales</a></li>
          <li><a class="nav-link" href="#">Vender</a></li>
          <li><a class="nav-link" href="#">Ayuda</a></li>
        </ul>
        <ul class="py-1">
          <li>
            <a class="nav-link" href="register"
              >Crea tu cuenta <i class="fa-solid fa-address-card"></i
            ></a>
          </li>
          <li>
            <a class="nav-link" href="login"
              >Ingresá <i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a class="nav-link" href="#"
              >Mis Compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
        <div class=" burger-menu text-center w-100">
            <i class="fas fa-bars bg-blue radius-1 color-white bold  padding"></i>
            </div>
    </header>
    <img
      src="/img/img-home-banner.jpg"
      alt="Promoción fiestas"
      width="100%"
    />
    <main class="p-1 vw-90 mx-auto">
      <section class="p-1 flex flex-wrap gap">
        <h2 class="title w-100">Basado en tu última visita</h2>
        <article class=" product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
            <img
            class="w-100"
              src="/img/img-cafetera-moulinex.jpg"
              alt="Cafetera Moulinex"
            />
          <div class="bt-1 border-grey p-1 relative flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="text-xl mr-1">$6.770</p>
            <p class="color-green text-lg">40% OFF</p>
            <h3 class="text-lg description w-100">Cafetera Moulinex</h3>
          </div>
          
        </article>
        <article class=" product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
          <img
            class="w-100"
            src="/img/img-macbook-pro-2019.jpg"
            alt="Macbook Pro 2019"
          />
          <div class="bt-1 border-grey p-1 relative flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="text-xl mr-1">$230.000</p>
            <p class="color-green text-lg">20% off</p>
            <h3 class="text-lg description w-100">MacBook Pro 2019</h3>
          </div>
        </article>
        <article class=" product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
          <img
            class="w-100"
            src="/img/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="bt-1 border-grey p-1 relative flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="text-xl mr-1">$70.500</p>
            <p class="color-green text-lg">10% off</p>
            <h3 class="text-lg description w-100">Samsung Galaxy S10</h3>
          </div>
        </article>
        <article class=" product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
          <img
            class="w-100"
            src="/img/img-tv-samsung-smart.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="bt-1 border-grey p-1 relative flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="text-xl mr-1">$23.200</p>
            <p class="color-green text-lg">5% off</p>
            <h3 class="text-lg description w-100">SmartTv Samsung 43"</h3>
          </div>
        </article>
      </section>
      <section class="p-1 flex flex-wrap gap">
        <h2  class="title w-100">Ofertas</h2>
        <article class=" product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
          <img
            class="w-100"
              src="/img/img-cafetera-moulinex.jpg"
              alt="Cafetera Moulinex"
            />
          <div class="bt-1 border-grey p-1 relative flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="text-xl mr-1">$6.770</p>
            <p class="color-green text-lg">40% OFF</p>
            <h3 class="text-lg description w-100">Cafetera Moulinex</h3>
          </div>
        </article>
        <article class=" product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
          <img
            class="w-100"
            src="/img/img-macbook-pro-2019.jpg"
            alt="Macbook Pro 2019"
          />
          <div class="bt-1 border-grey p-1 relative flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="text-xl mr-1">$230.000</p>
            <p class="color-green text-lg">20% off</p>
            <h3 class="text-lg description w-100">MacBook Pro 2019</h3>
          </div>
        </article>
        <article class=" product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
          <img
            class="w-100"
            src="/img/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="bt-1 border-grey p-1 relative flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="text-xl mr-1">$70.500</p>
            <p class="color-green text-lg">10% off</p>
            <h3 class="text-lg description w-100">Samsung Galaxy S10</h3>
          </div>
        </article>
        <article class=" product bg-white my-1 product-shadow w-100 md-w-50 lg-w-25">
            <img
              class="w-100"
              src="/img/img-tv-samsung-smart.jpg"
              alt="Samsung Galaxy S10"
            />
            <div class="bt-1 border-grey p-1 relative flex flex-wrap">
              <i class="fa-solid fa-truck truck-icon"></i>
              <p class="text-xl mr-1">$23.200</p>
              <p class="color-green text-lg">5% off</p>
              <h3 class="text-lg description w-100">SmartTv Samsung 43"</h3>
            </div>
          </article>
      </section>
    </main>

    <footer>
      <div class="container-footer">

        <div class="w-100 text-center tex-aling justify-y p-1 mx-auto" >
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3> 
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
             puntos de pago. ¡Y siempre es seguro!</p>
         </div>
         <div class="w-100 text-center tex-aling justify-y p-1 mx-auto">
            <i class="fas fa-gift"></i>
             <h3>Envío gratis desde $ 2.500</h3> 
             <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                 productos. Es un beneficio de Mercado Puntos.</p>
         </div>
         <div class="w-100 text-center tex-aling justify-y p-1 mx-auto">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3> 
             <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                 porque estás siempre protegid@.</p>
         </div>
         <div class="w-100 text-center tex-aling justify-y p-1 mx-auto">
             
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
          
         </div>
        </div>
    </footer>
  </body>
</html>