<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normative.css">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet"
    />
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@300&display=swap" rel="stylesheet">

  </head>
  <body>
    <header>
      <div class="main-header p-1 flex flex-wrap">
        <h1 class="logo w-50">
          <img  src="/img/logo-mercado-liebre.svg" alt="Mercado Liebre" />
        </h1>
        <div class="container-busqueda p-1 w-50 align-center radius-1 flex bg-white">
          
            <input
              class="busqueda"
              type="text"
              name="search"
              placeholder="Buscá productos por nombre, marcas o palabras clave"
            />
            <button type="submit" class="bg-white b-none">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          
        </div>
        <p class="compra-cuotas tex-aling"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de credito</p>
      </div>
      <nav class="hide">
        <ul class="py-1">
          <li><a class="nav-link" href="#">Ofertas</a></li>
          <li><a class="nav-link" href="#">Tiendas Oficiales</a></li>
          <li><a class="nav-link" href="#">Vender</a></li>
          <li><a class="nav-link" href="#">Ayuda</a></li>
        </ul>
        <ul class="py-1">
          <li>
            <a class="nav-link" href="register"
              >Crea tu cuenta <i class="fa-solid fa-address-card"></i
            ></a>
          </li>
          <li>
            <a class="nav-link" href="login"
              >Ingresá <i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a class="nav-link" href="#"
              >Mis Compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
        <div class=" burger-menu text-center w-100">
            <i class="fas fa-bars bg-blue radius-1 color-white bold  padding"></i>
            </div>
    </header>
   <main>
    <div class="container-form">
      <p class="titulo">Register</p>
      <form class="register-form" action="/" method="post" >

        <label for="nombre y apellido">Nombre y Apellido</label>
        <input class="input" type="text" name="nombre y apellido" id="nombre y apellido">

        <label for="nombreUsuario">Nombre de usuario:</label>
        <input class="input" type="text" name="nombre de usuario" id="nombreUsuario">

        <label for="email">Email:</label>
        <input class="input" type="email" name="email" id="email">

        <p class="titulo">Fecha de nacimiento</p>
        <input  class="input" type="date" name="fecha">
        

        <label for="domicilio">Domicilio</label>
        <input class="input" type="text" name="domicilio" id="domicilio">

        <p class="titulo">Perfil usuario</p>
        <input class="perfil-usuario"  type="radio" id="comprador" name="comprador" value="comprador">

        <label class="perfil-usuario" for="comprador">Comprador</label>

        <input  type="radio" id="Vendedor" name="Vendedor" value="Vendedor">

        <label class="perfil-usuario"  for="Vendedor">Vendedor</label>
        <div class="intereses"> 
        <p class="titulo">Intereses</p>
        <input  type="checkbox" id="electro" name="electro" value="electro">
        <label  for="electro">Electro</label>

        <input  type="checkbox" id="moda" name="moda" value="moda">
        <label for="moda">Moda</label>

        <input   type="checkbox" id="hogar" name="hogar" value="hogar">
        <label for="hogar">Hogar</label>

        <input  type="checkbox" id="jugueteria" name="jugueteria" value="jugueteria">
        <label  for="jugueteria">Jugueteria</label>

        <input type="checkbox" id="vidaSana" name="vida sana" value="vida sana">
        <label  for="vida sana">Vida sana</label>
        </div>


        <p><button type="submit">Registrarse</button></p>






      </form>
    </div>
   </main>



   <footer class="bg-white">
    <div class="container-footer bg-white">

      <div class="info-footer w-100 text-center tex-aling justify-y p-1 mx-auto" >
          <i class="fas fa-credit-card color-azul"></i>
          <h3>Pagá con tarjeta o en efectivo</h3> 
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
           puntos de pago. ¡Y siempre es seguro!</p>
       </div>
       <div class="info-footer w-100 text-center tex-aling justify-y p-1 mx-auto">
          <i class="fas fa-gift color-azul "></i>
           <h3>Envío gratis desde $ 2.500</h3> 
           <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
               productos. Es un beneficio de Mercado Puntos.</p>
       </div>
       <div class="info-footer w-100 text-center tex-aling justify-y p-1 mx-auto">
          <i class="fas fa-user-shield color-azul "></i>
          <h3>Seguridad, de principio a fin</h3> 
           <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
               porque estás siempre protegid@.</p>
       </div>
       <div class=" font-m  inline-block m-auto color-gis">
           
          <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        
       </div>
      </div>
  </footer>
  </body>
</html>