*{
  box-sizing: border-box;
}
body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    

}
header{
    background-color: #EAC926;
    padding: 20px;
    
   
}
header a{
    
    font-size: 16px;
    color: black;
}
.main-header{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.logo{
  width: 200px;
}
.compra-cuotas{
   font-weight: 400;
   text-align: center;
}

.hide{
  display: none;
}
.hide ul{
  margin: 0;
  padding: 0;
}
.hide a{
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}
.container-busqueda{
  padding: 12px 14px;
  box-shadow:  0px 1px 4px -1px #0e0e0e;
}
.busqueda{
  min-width: 0;
  margin-right: 2px;
  flex-grow: 1;
  border: none;
  outline: none;
}
.bg-dark-grey {
    background-color: #666;
  }
  
  .bg-grey {
    background-color: #ebebeb;
  }
  
  .bg-blue {
    background-color: #1259c3;
  }
  
  .bg-white {
    background-color: white;
  }
  .color-azul{
    color: #1259c3;
  }
  .color-green {
    color: #39b54a;
  }
  
  .font-m {
    font-size: 12px;
  }
  .font-lg {
    font-size: 16px;
  }
  .font-xl {
    font-size: 18px;
  }
  .title {
    font-size: 24px;
  }
  
  .nav-link {
    text-decoration: none;
    color: inherit;
  }
  
  .w-50 {
    width: 50%;
  }
  
  .vw-90 {
    width: 90vw;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .b-1 {
    border-style: solid;
  }
  
  .bt-1 {
    border-style: solid;
    border-width: 1px;
  }
  .border{
    border-top: 1px solid #ebebeb;
  }
  .b-none {
    border: none;
  }
  
  .border-grey {
    border-color: #ebebeb;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .color-white {
    color: white;
  }
  
  .text-center {
    text-align: center;
  }
  .text-aling{
    text-align: center;
  }
  .round {
    border-radius: 50%;
  }
  
  .radius-1 {
    border-radius: 5px;
  }
  
  .p-1 {
    padding: 8px;
  }
  .p-2 {
    padding: 20px;
  }
  
  .py-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .mr-1 {
    margin-right: 8px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  
  .gap {
    gap: 10px;
  }
  
  .align-center {
    align-self: center;
  }
  
  .outline-none {
    outline: none;
  }
  
  
  .product-shadow {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  
.burger-menu{
    font-size: 20px;
}

.padding{
    padding: 10px;
}
 


.product-shadow {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.truck-icon {
    color: green;
    border: green solid 1px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 15px;
    top: -15px;
  }
  
  
.relative {
    position: relative;
  }

.ofertas{
    color: #666;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 10px;

}

.precio{
    
    font-size: 18px;
    align-items: center;
    
}
.container-footer{
  width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.info-footer{
  margin-bottom: 30px;
  text-align: center;
}
.font-m{
  font-size: 12px;
}
.inline-block{
  display: inline-block;
  

}
.m-auto{
  margin: 0 auto;
}
.color-gris{
  color: #666;
}
@media (min-width: 481px) {
    /* tablet */
    .md-w-50 {
      width: 48%;
    }
    .article-producto:hover .truck-icon {
      animation: truck 0.5s 1;
    }
  
    @keyframes truck {
      0% {
        transform: rotateZ(360deg);
      }
    }
  }
  
  @media (min-width: 769px) {
    /* laptop */
    .lg-w-25 {
      width: 23%;
    }
    .logo{
      width: 30%;
    }
    .container-busqueda{
      width: 35%;
    }
    
    .main-header{
      display: flex;
      justify-content: space-between;
    }
    .compra-cuotas{
      margin-top: 30px;
      max-width: 350px;
      text-align: right;
    }
    .burger-menu{
      display: none;
    }
    .hide{
      display: flex;
      justify-content: space-between;

    }
    .hide ul{
      display: flex;
    }
    .hide li{
      margin: 0 5px;
    }
  
    .product-shadow {
      box-shadow: none;
    }
  
    .description {
      display: none;
    }


    .product:hover .description{
        display: block;
    }

    .product-shadow:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .container-footer{
      margin-top: auto;
      flex-direction: column;
    }
    .container-footer{
      padding: 20px;
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .info-footer{
      width: 30%;
    }
    

  }
  
  @media (min-width: 1281px) {
    /* desktop */
    .logo{
      width: 250px;

    }
    .main-header , .hide{
      max-width: 1200px;
      margin: auto;

    }
    .compra-cuotas{
      margin: 0;
      max-width: none;
      font-size: 22px;
      font-weight: 400;

    }
    .hide li{
      margin: 0 10px;
    }
    .hide a{
      font-size: 19px;
    }
    .hide{
      margin-top: 40px;
    }
    .main-header{
      align-items: center;
    }
  }
  